.b{
    width: 100%;
    height: 1000px;
}


.loginbox{
    margin-left: 320px;
    width: 600px;
    height: 500px;
    border-radius: 20px;
    border: #00d9d9;
    border-style: solid;
    border-bottom-width: 3px;
    border-top-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    padding: 70px 30px;
}

.user{
    width: 125px;
    height: 140px;
    border-radius: 50%;
    position: absolute;
    margin-top: 0px;
    left: 580px;
}

.hw{
    margin-top: -25px;
    padding: 0 0 0px;
    text-align: center;
    font-size: 35px;
    color: #00d9d9;
    font-weight: bold;
    font-family: serif;
}

.hL{
    margin-top: 110px;
    font-size: 30px;
    color: #00d9d9;
    font-weight: bold;
    font-family: serif;
}

.form{
    height: 450px;
    width: 580px;
}

.loginbox p{
    margin: o;
    padding: 0;
    font-weight: bold;
    color: #00d9d9;
    font-size: 20px;
    text-align: left;

}

.loginbox input{
    width: 100%;
    height: 100%;
    margin-bottom: 18px;
    font-size: 15px;
}

.loginbox input[type="text"], input[type="Password"]{
    border: none;
    margin: 0;
    border-bottom: 1px solid #009999;
    background: transparent;
    outline: none;
    height: 20px;
    color: #000000;
    font-size: 15px;
}

span.password {
    margin: 10px;
    float: right;
    padding-top: 15px;
}

span.password:hover{
    cursor: pointer;
    color: #000000;
}


.loginbox input[type="submit"]{
    border: none;
    border-radius: 20px;
    background: #00d9d9;
    outline: none;
    height: 50px;
    color: #ffffff;
    font-size: 25px;
}

.loginbox input[type= "submit"]:hover{
    corsor: pointer;
    background: #009999;
    color: #000000; 
}

.loginbox a{
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    color: #990000;
}


.loginbox a:hover{
    color: #ff3300;
}


.cancel {
    font-size: 20px;
    float: right;
    width: 300px;
    height: 50px;
    padding: 0;
    border-radius: 20px;
    border: #009999;
    border-style: solid;
    color: #009999;
}

.cancel:hover {
    cursor: pointer;
    color: #00d9d9;
    border: #00d9d9;
}
